@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@300&family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Sofia&display=swap');

body {
  background-color: #f6f7fb;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #2d2d2d;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 120px;
  box-shadow: 3px 3px 10px 0px #000;
  border-radius: 15px;
  width: 70vw;
  height: 550px;
  background-color: #ffff;
}
.btn {
  border-radius: 10px;
}
.input-group-text {
  border-radius: 10px;
}
.form-control {
  border-radius: 10px;
}
.text-link {
  text-decoration: none;
  color: #2d2d2d;
}
.text-link:hover {
  text-decoration: none;
  color: info;
  font-weight: bold;
}
