@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@300&family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Sofia&display=swap');

body {
  background-color: #eaeaea;
  font-family: 'Poppins', sans-serif;
  color: #2d2d2d;
  font-size: 14px;
}
.form-control {
  font-size: 14px;
}
@media screen and (minimal-width: 994px) {
  .form-control {
    width: 350px;
  }
}
@media screen and (max-width: 994px) {
  .navbar-nav {
    text-align: center;
  }
}
/*style kategori*/
.img-categori {
  width: 50px;
}
.img-categori:hover {
  transform: scale(1.2);
  transition: 0, 2s;
}
.row-container {
  background-color: #fff;
  margin: 0px;
}
/*penutup style kategori*/
/*style produk*/
.card:hover {
  border: 1px solid #2bafb8;
}
/*penutup style produk*/
/*menu promo*/
.menu-promo {
  transform: scale(1.2);
  transition: 0, 2s;
}
/*akhir menu promo*/
/*produk terlaris*/

/*akhir produk terlaris*/
