@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@300&family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Sofia&display=swap");
body {
    font-size: 12px;
    background-color: white;
    height: 100%;
    font-weight: 700;
}
.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.login-form {
    width: 500px;
    background-color: white;
    border: none;
}
input[type="email"],
input[type="password"] {
    border-radius: 20px;
}
.btn-login {
    height: 37px;
    border-radius: 20px;
    font-weight: 700;
}
.link {
    color: black;
    text-decoration: none;
}
