@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@300&family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Sofia&display=swap");

body {
    background-color: #eaeaea;
    font-family: "Poppins", sans-serif;
    color: #2d2d2d;
    font-size: 14px;
}
.form-control {
    font-size: 14px;
}
@media screen and (minimal-width: 994px) {
    .form-control {
        width: 350px;
    }
}
@media screen and (max-width: 994px) {
    .navbar-nav {
        text-align: center;
    }
}
.row-produk {
    background-color: #fff;
    margin: 0;
    padding: 20px;
    padding-top: 16px;
}
/*garis nama*/
.garis-nama {
    border-bottom: 2px solid #2d2d2d;
    margin-top: 10px;
    margin-bottom: 25px;
}
/*akhir garis nama*/
/*  deskripsi*/
.row-deskripsi {
    background-color: #fff;
    margin: 0;
    padding: 5px;
    padding-top: 16px;
}
/*akhir deskripsi*/
